@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Latest Reviews</h2>

Showing @Model.Count() reviews.

@foreach (var item in Model)
{
    @Html.Partial("_Review", item)

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
