@model IQueryable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="GET">
    <input type="search" name="searchTerm"/>
    <input type="submit" value="Search By Name"/>
</form>

@foreach (var item in Model)
{
    <h4>@item.Name</h4>
    <div>
        @item.City, @item.Country
    </div>
    <div>
        @item.CountOfReviews
    </div>
    <hr/>
}